In [1]:
print("hello, world!")

hello, world!

## Data Types 
print("hello, world")

In [2]:
# a string is either double quotes "" or single quotes '' 
test="hello"

In [3]:
print(test)

hello

In [4]:
type(test)

str

In [6]:
# str stands for string as a type of variable. type is a function in python 
# numeric types come in two forms - integers and floats (R has other numeric types but python doesn't have these as the foundational numeric types)
# integer 
number = 10 
# float 
floaty = 5.4

In [7]:
number + floaty

15.4

In [8]:
test+number
# error because you can't add a number and string together, there's too many alternatives with not enough information provided

TypeError: can only concatenate str (not "int") to str

In [9]:
# adding two string types together gets them squished together - concatenation! 
test + test

'hellohello'

### Operators 
python understands basic mathematical operators (ie. -, +, /, *)

In [10]:
36/6
## python automatically outputs a float type of answer in response to code, even if it always only uses integers as this is computationally easier to output

6.0

In [11]:
## flawed division rounds answer to nearest integer 
15//4

3

In [12]:
##modulow checks whether a number is odd or even (0 shows even number, 1 shows odd number)
15 % 2

1

In [13]:
# concatenation with strings 
'foo' + 'bar'

'foobar'

In [14]:
'foo' - 'bar'
## doesn't know what to do.

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [15]:
##python will attempt to concatenate a string where they can e.g. 

'foo' * 10

'foofoofoofoofoofoofoofoofoofoo'

## python collections 
collections in python is the name given to data structures (e.g. vectors equivalent in R)
lists in python are more straight forward compared to R. 
when naming variables - convention is to always use lower case, no space and no colons

In [2]:
# lists in python
# = is an assignment character in python 
# anything within [] in python is a list - default. 
my_list = [1, '2', 3.2]
## a list is a way of storing multiple bits of data in python. The data is ordered and won't change unless you alter it. Will remain in this order.

In [3]:
print(my_list)

[1, '2', 3.2]

In [4]:
print(my_list[0])

1

In [5]:
## get the last item from a list 
print(my_list[-1])

3.2

In [6]:
## can get a subset of values from a list e.g. 
print(my_list[1:])
## this will bring all items apart from the first item of the list since item 1 is index 0. 
# get a view of a subset of lists - subsetting lists is good for tabular data.

['2', 3.2]

In [10]:
## a dictionary is a different data structure in python - not ordered intrinsically (different to list) works by having a key and an associated value with it. e.g 
## use the curly brackets to start a dictionary (not [] like for a list)
my_dict = {'one': 1, 'two': 3}
## the comma separates items within the dictionary data structure and the colon assigns the number value to a word

In [11]:
## the dictionary isn't ordered so doesn't understand the indexing function for index 0 for example. To index items in this data structure is to use the assigned keys
print(my_dict['one'])

1

In [ ]:
## we can nest data together within dictionary keys - replicate a data frame from R using python dictionary e.g. assign a key as a column name and include all values within it. 
## dictionary is often quicker to use than index and keys are easier to understand and assign to items than remembering the index of an item